/* .container {
    border: 8px solid black;
}

.row {
    border: 3px solid rgb(235, 73, 73);
}

.col,
.col-3,
.col-6,
.col-5,
.col-4,
.col-8 {
    border: 3px solid green;
}

body {
    background: grey;
}

#header {
    background: orange;
}

#menu {
    display: flex;
    justify-content: space-around;
    padding-top: 5px;
    background: pink;
}

#menu ul {
    list-style: none;
}

#menu ul li {
    padding-left: 70px;
    display: inline-block;
}

#menu ul li a {
    text-decoration: none;
}

#content {
    background: white;
}

#sidebar {
    background: lightblue;
}

#footer {
    background: orange;
} */